*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #151515;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 10px;
}

.main {
  flex-grow: 1;
}

.general-title {
  font-weight: 700;
  font-size: 48px;
  text-align: center;
  margin-bottom: 50px;
}

.inner-title {
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 50px;
  line-height: inherit;
}

/*       Header      */

.header {
  background-color: #151515;
}

.header__inner {
  padding-top: 40px;
  padding-bottom: 45px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.header_main {
  position: absolute;
  background-color: transparent;
  z-index: 3;
  left: 0;
  right: 0;
}

.menu__list {
  display: flex;
  gap: 35px;
}

.menu__item {
  cursor: pointer;
}

.menu__link {
  font-weight: 700;
  line-height: 118.75%;
  /* 19px/16 */
  color: #ffffff;
  text-transform: uppercase;
  cursor: pointer;
}

/*       Main Section      */

.main__first-section {
  position: absolute;
  z-index: 2;
  left: 0;
  right: 0;
  color: #ffffff;
  text-align: center;
  padding-top: 247px;
  /* padding-top: 287px; */
}

.main__title {
  font-weight: 700;
  font-size: 96px;
  margin-bottom: 76px;
}

.main__link {
  text-transform: uppercase;
  background-color: #151515;
  padding: 23px;
  max-width: 430px;
  width: 100%;
  display: inline-block;
  font-weight: 700;
  font-size: 36px;
  line-height: 122%;
  /* 44px/36 */
  color: #ffffff;
}

.swiper::after {
  position: absolute;
  z-index: 3;
  content: "";
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(21, 21, 21, 0.3);
}

.swiper-slide {
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  /* background-position: center; */
}

.swiper-horizontal > .swiper-pagination-bullets {
  bottom: 30px;
}

.swiper-pagination-bullet {
  background: #151515;
  width: 120px;
  height: 3px;
  border-radius: 0;
  opacity: 1;
  margin: 0 15px !important;
}

.swiper-pagination-bullet-active {
  background: #fff;
  height: 6px;
}

.slider {
  margin-bottom: 150px;
}

/*       Why      */

.why {
  margin-bottom: 150px;
  color: #151515;
}

.why__inner {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.why__item-title {
  text-align: center;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 24px;
  line-height: 58px;
}

.why__item-img {
  display: block;
  margin: 0 auto 30px;
}

.why__item-text {
  line-height: 130%;
}

/*       How     */

.how {
  margin-bottom: 150px;
}

.how__inner,
.how__final-par {
  max-width: 580px;
  margin: 0 auto;
  line-height: 130%;
}

.how__inner-text {
  margin-bottom: 50px;
}

.how__inner-text_1 {
  max-width: 280px;
  display: flex;
  align-items: center;
}

.how__inner-rules {
  margin-bottom: 70px;
  display: flex;
  justify-content: end;
  gap: 140px;
}

.how__icon {
  margin-bottom: 40px;
  display: flex;
  gap: 140px;
}

/*       Video      */

.video {
  margin-bottom: 150px;
}

.video__title {
  margin-bottom: 20px;
}

.video__inner-title {
  text-align: center;
}

.video__content {
  margin: 0 auto;
  display: block;
}

/*       Things    */

.things {
  margin-bottom: 150px;
}

.things__text {
  max-width: 580px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.things__inner {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  line-height: 130%;
}

.things__inner-item img {
  margin-bottom: 20px;
}

/*       Footer      */

.footer {
  background: #151515;
  color: #ffffff;
  padding: 50px 0 32px;
}

.footer__menu {
  display: flex;
  justify-content: space-around;
  margin-bottom: 50px;
}

.footer__title {
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  padding-bottom: 20px;
}

.footer__item + .footer__item {
  padding-top: 20px;
}

.footer__item {
  max-width: 230px;
}

.footer__app {
  display: flex;
  justify-content: center;
  gap: 39px;
  margin-bottom: 50px;
}

.footer__copy {
  max-width: 806px;
  text-align: center;
  margin: 0 auto 30px;
  font-size: 12px;
}

.copy-nav__list {
  display: flex;
  gap: 40px;
  justify-content: center;
}

/*      Contact   */

.contact {
  margin-bottom: 150px;
}

.menu__link_blue {
  color: #0066ff;
}

.contact__title {
  margin: 100px 0 20px;
}

.contact__text {
  margin-bottom: 50px;
  text-align: center;
  font-weight: 700;
  font-size: 24px;
  line-height: 120.833333%;
  /* 29px/24 */
  color: #000000;
}

.contact__form {
  max-width: 580px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.form__name,
.form__email {
  width: 270px;
  display: inline-block;
  padding: 18px 20px;
  border: 1px solid #0066ff;
  margin-bottom: 50px;
  color: #151515;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
}

.form__textarea {
  width: 100%;
  min-height: 290px;
  resize: none;
  margin-bottom: 50px;
  padding: 28px 20px;
  color: #151515;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  border: 1px solid #0066ff;
}

.form__name::placeholder,
.form__email::placeholder,
.form__textarea::placeholder {
  opacity: 0.5;
  color: #151515;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
}

/* .form__btn:hover{
  background-color:#0066ff;
} */

.form__btn {
  /* transition: all .7s ease; */
  margin: 0 auto;
  background: #151515;
  color: #fff;
  padding: 13px 61px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  text-transform: uppercase;
  cursor: pointer;
}

/*       Blog     */

.blog {
  margin-top: 150px;
  margin-bottom: 150px;
}

.blog__items {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  margin-bottom: 70px;
}

.blog__item {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.blog__item img {
  margin-bottom: 30px;
}

.blog__text {
  font-weight: 700;
  font-size: 24px;
  line-height: 120.833333%;
  /* 29px/24 */
}

.blog__link {
  line-height: 130%;
  color: #ffffff;
  background-color: #0066ff;
  padding: 4px 20.5px;
}

.blog__link-second {
  margin: 0 auto;
  display: block;
  background: #151515;
  color: #fff;
  padding: 13px 61px;
  text-transform: uppercase;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  width: 223px;
  cursor: pointer;
}

/*       Choose     */

.choose__title {
  margin-top: 100px;
}

.choose__btn {
  margin-bottom: 100px;
  text-align: center;
}

.choose__tabs {
  margin-bottom: 70px;
}

.choose__btn-item + .choose__btn-item {
  margin-left: 80px;
}

.choose__btn-item {
  font-family: "Inter", sans-serif;
  color: #151515;
  background: none;
  border: 0;
  cursor: pointer;
}

.choose__btn-item_blue {
  color: #0066ff;
}

.choose__content-item {
  display: none;
  grid-template-columns: repeat(4, 1fr);
  gap: 100px 40px;
}

.choose__content-item.choose__content-item_open {
  display: grid;
}

.card__content > * {
  margin-bottom: 20px;
  text-align: center;
}

.card__content {
  border: 1px solid #0066ff;
  border-top: 0;
}

.card__img {
  margin-bottom: 0;
  display: block;
}

.card__link {
  /* margin-bottom: 100px; */
  border: 1px solid #0066ff;
  border-top: 0;
  display: block;
}

.card__link {
  display: block;
  color: #0066ff;
  text-align: center;
  padding: 2px 2px;
}

.card__title {
  padding-top: 20px;
}

.card__title,
.choose__btn-item,
.card__price {
  font-weight: 700;
  font-size: 24px;
  line-height: 121%;
  /* 29px/24 */
}

/*     Media   */

.menu__btn {
  width: 30px;
  height: 20px;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  display: none;
}

.menu__btn span {
  height: 2px;
  background-color: #fff;
  width: 100%;
  transition: all 0.5s ease-in;
}

.card__img {
  width: 100%;
}

@media (max-width: 1227px) {
  .things__inner {
    grid-template-columns: repeat(3, 1fr);
  }

  .things__inner-item {
    display: grid;
    justify-items: center;
    text-align: center;
    width: 270px;
  }

  .choose__content-item {
    grid-template-columns: repeat(3, 1fr);
    gap: 80px 30px;
  }

  .blog__items {
    margin-bottom: 20px;
    display: block;
  }

  .blog__item {
    display: block;
    text-align: center;
  }

  .blog__link {
    margin: 20px 0 20px;
    display: inline-block;
  }
}

@media (max-width: 1040px) {
  .video__content {
    width: 100%;
  }

  .why__inner {
    flex-direction: column;
    text-align: center;
  }
}

@media (max-width: 1000px) {
  .choose__btn {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
  }

  .choose__btn-item + .choose__btn-item {
    margin-left: 0;
  }

  .choose__content-item {
    grid-template-columns: repeat(2, 1fr);
  }

  .header__inner {
    align-items: center;
  }

  .things__inner {
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }

  .menu__btn,
  .logo {
    position: relative;
    z-index: 2;
  }

  .menu__btn {
    display: flex;
  }

  .menu__list {
    position: absolute;
    height: 100vh;
    background-color: #151515;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 0;
    transform: translateX(200%);
    transition: all 0.5s ease-in-out;
  }

  .menu__list_active {
    transform: translateX(0);
  }

  .menu__btn_active span:nth-child(1) {
    transform: rotate(45deg);
  }

  .menu__btn_active span:nth-child(2) {
    display: none;
  }

  .menu__btn_active span:nth-child(3) {
    transform: rotate(-45deg);
    margin-bottom: 17px;
  }

  .footer__menu {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 44px;
    justify-content: center;
  }

  .footer__title {
    text-align: left;
  }

  .swiper-pagination-bullet {
    width: 60px;
  }

  .swiper-pagination-bullet_active {
    height: 4px;
  }

  .main__title {
    font-size: 70px;
  }

  .main__link {
    padding: 20px;
    max-width: 300px;
    font-size: 24px;
  }
}

@media (max-width: 665px) {
  .choose__content-item {
    grid-template-columns: repeat(1, 1fr);
  }
  .slider,
  .how,
  .things,
  .video,
  .why {
    margin-bottom: 80px;
  }

  .blog {
    margin: 80px 0 80px;
  }

  .main__title {
    font-size: 48px;
  }

  .general-title {
    font-size: 40px;
  }

  .main__link {
    padding: 18px;
    max-width: 200px;
    font-size: 22px;
  }

  .how__inner-rules {
    justify-content: flex-start;
  }

  .how__icon img {
    width: fit-content;
  }

  .how__icon {
    flex-direction: column;
    gap: 20px;
  }

  .copy-nav__list {
    flex-direction: column;
  }

  .things__inner,
  .footer__menu {
    grid-template-columns: repeat(1, 1fr);
  }
  .blog__item img {
    width: 50%;
  }
}

@media (max-width: 425px) {
  .menu__list.menu__list_active {
    padding-top: 55px;
  }

  .footer__app {
    flex-direction: column;
    gap: 20px;
  }

  .swiper-pagination-bullet {
    width: 50px;
  }
}
